@keyframes flashAnimation {
  0% {
    transform: translateY(-70px);
  }
  5% {
    transform: translateY(0px);
  }
  95% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-70px);
  }
}

.flash-message__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  padding: 20px;
  text-align: center;
  animation: flashAnimation 3s ease-in-out forwards;
  &.error {
    background-color: #fa5252;
  }
  &.success {
    background-color: #63e6be;
  }
  &.info {
    background-color: #ffa94d;
  }
  .flash-message__text {
    color: white;
    font-size: 1.2rem;
  }
}
