.videoBlock {
  video {
    margin-bottom: 10px;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
  }
  .videoBlock__title {
    color : $text;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
}
